
.container {text-align: center;}

.customdomain{
  font-size: 11px;
  background-color: #5BBF8F;
  padding: 10px;
  text-align: center;
}

p{
  margin-top: -15px;
  margin-bottom: 30px;
  font-size: 13px;
}

.cname {
  color: #65C396;
}
