.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 3px solid #6A737D;
  color: #7B7874;
  font-size: 100%;
  font-family: 'Marcellus', serif;
}

.copyright { margin-left: 20px;}
.rightblock {
  width:85%;
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.menues {
  & li{
    list-style: none;
    display: inline;
  }
  & a {
    text-decoration: none;
    color: #7B7874;
    margin: 7px;
  }
}

.socialn {
  & li{
  list-style: none;
  display: inline;
  }
  & a {
    text-decoration:none;
    margin:7px;
  }
}


.fa {color:#7B7874;}





















// .container {
//   display: grid;
//   grid-template-columns: 3fr 1fr 1fr;
//   grid-template-rows: 100px;
//   border: 3px solid #6A737D;
//   padding-top: 20px;
//   color: #7B7874;
//   font-size: 100%;
//   font-family: 'Marcellus', serif;
//
//   & > div:nth-child(1n) {
//       margin: 7px;
//
//    }
//
//   & > div:nth-child(2n) li{
//     list-style: none;
//     display:inline;
//      }
//   & > div:nth-child(2n) a {
//     text-decoration: none;
//       margin: 7px;
//       color: #7B7874;
//   }
//
//
//   & > div:nth-child(3n) li{
//     list-style: none;
//     display:inline;
//      }
//   & > div:nth-child(3n) a {
//     text-decoration: none;
//     margin: 7px;
//     padding-left: 10px;
//   }
//
// }
//
// .fa {color:#7B7874;}
