.container {
  width: 100%;
  margin:auto;
  position:relative;
  font-family: 'Bellefair', serif;
  font-size: 100%;
}

img {
  width:55%;
  margin-left: 45%;
}

.top-left{
  margin-left: 15%;
margin-top: -43%;
}

h4 {
  font-size: 180%;
}
 .map {
   position: absolute;
   background-color: #E7BB4F;
   padding: 15px;
   margin-top: 10px;
   & a{
     text-decoration: none;
     color: black
   }
 }

 p {
   margin-top: -27px;
 }
